.box-alert .box-alerts-date {
  text-align: center;
  padding: 20px;
}
.box-alert .box-alerts-date h2 {
  font-size: 24px;
  margin: 0;
  font-family: 'latolight';
}
.box-alert .box-alerts-date strong {
  font-size: 18px;
}
.box-alert .box-alerts-list .alert {
  padding: 10px 15px 10px 10px;
  background: #F0F4F8;
  border: 1px solid #E1E6EB;
  border-radius: 2px;
  font-size: 12px;
  font-family: 'latobold';
  color: #495158;
  position: relative;
  cursor: pointer;
  margin: 10px 0 0;
}
.box-alert .box-alerts-list .alert .alert-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.box-alert .box-alerts-list .alert.important {
  border: 1px solid #4A90E2;
}
.box-alert .box-alerts-list .alert.important:before {
  content: '';
  left: -5px;
  top: -5px;
  position: absolute;
  background: #4A90E2;
  border-radius: 20px;
  height: 10px;
  width: 10px;
}
.box-alert .box-alerts-list .alert:hover {
  background: #DDE4EA;
  border: 1px solid #BBC3CC;
}
.box-alert .box-alerts-list .alert:hover:before {
  background: #F10E64;
}
.box-alert .box-alerts-list .alert:after {
  content: '\f105';
  font-family: FontAwesome;
  position: absolute;
  color: rgba(0, 0, 0, 0.15);
  top: 50%;
  height: 20px;
  line-height: 20px;
  font-size: 20px;
  right: 5px;
  margin-top: -11px;
}
.box-alert .box-alerts-list .alert .fa {
  color: #B7C5D1;
  margin-right: 5px;
}
