.user-list .user-item {
  padding: 15px;
  padding-left: 70px;
  padding-right: 80px;
  position: relative;
  border-top: 1px solid #ECECEC;
}
 > .user-list .user-item:first-child {
  border: 0;
}
.user-list .user-item .user-avatar {
  width: 50px;
  height: 50px;
  background-color: #E9EFF1;
  border-radius: 100px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  left: 10px;
  top: 10px;
}
.user-list .user-item .user-info .user-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  font-family: 'latobold';
}
.user-list .user-item .user-info .user-desc {
  display: block;
  font-size: 12px;
  color: #919191;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.user-list .user-item .user-options {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -15px;
}
.online-users .btn {
  border-radius: 200px;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 0;
  line-height: 29px;
}
.online-users .user-list .user-item.latest {
  padding: 15px;
  padding-top: 100px;
}
.online-users .user-list .user-item.latest .user-avatar {
  width: 80px;
  height: 80px;
  left: 50%;
  margin-left: -40px;
}
.online-users .user-list .user-item.latest .user-info {
  text-align: center;
}
.online-users .user-list .user-item.latest .user-options {
  width: 200px;
  right: 50%;
  top: 50px;
  margin-right: -100px;
}
 > .online-users .user-list .user-item.latest .user-options:first-child {
  float: left;
}
.online-users .user-list .user-item.latest .user-options > :last-child {
  float: right;
}
.online-users .user-list .user-skills {
  text-align: justify;
  padding: 15px;
  border-top: 1px solid #ECECEC;
}
.online-users .user-list .user-skills span {
  text-transform: uppercase;
  font-family: 'latobold';
  font-size: 12px;
}
.online-users .user-list .user-skills p {
  margin: 0;
  font-size: 12px;
  color: #747474;
}
